.produk-image {
	width: 100%;
	display: flex;
	max-height: 550px;
	overflow: hidden;

	img {
		object-fit: cover;
		background-size: cover;
		width: 100%;
		background-position: center;
		&:hover {
			cursor: pointer;
		}
	}
	.thumbnail {
		width: 80%;
	}
	.thumb {
		width: 20%;

		img {
			float: left;
			margin-bottom: 2px;
			width: 100%;
			height: 109px;
			&:hover {
				opacity: .5;
			}
		}
	}

	.fade {
		opacity: 0;
		transition: all 0.55s ease;
	}
}

.content-produk-detail {
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 20px;
	}
	p.price {
		font-weight: 500;
		font-size: 21px;
		white-space: pre-wrap;
	}

	.form-select {
		width: 50%;
		background-color: #243042;
		color: white;
		border-color: #243042;
	}

	table {
		th,
		td {
			color: white;
		}
	}
}
